 body
 {
  font-family:Red Hat Text;
 font-weight: 700;
   width:100%;
   height: 100vh;
   background: hsl(235, 16%, 14%);
}
.mountain{
    width:100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}
h3{
    color:hsl(0, 0%, 100%);
     display:flex;
  align-items: center;
  justify-content: center;
}
.dates{
  display:flex;
  align-items: center;
  justify-content: center;
}